body {
  background: white;
  color: black;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 10pt;
  margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: georgia, palatino, times news roman, serif;
}

h1 {
  font-size: 14pt;
  margin-left: 0%;
}

h2 {
  font-size: 13pt;
  margin-left: 0%;
}

h3 {
  font-size: 12pt;
  margin-left: -3%;
}

h4 {
  font-size: 11pt;
  margin-left: -2%;
}

h5 {
  font-size: 10pt;
  margin-left: -1%;
}

p {
  text-indent: 4%;
}

div.firstgen {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-right: 0px solid black;
  border-left: 0px solid black;
  border-style: solid;
  border-color: black;
}

.firstgen ol {
  list-style-type: decimal;
  margin-left: -1em;
}

.firstgen li {
  padding-top: 1em;
  padding-bottom: 0em;
  padding-right: 0em;
  padding-left: 0em;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-right: 0px solid black;
  border-left: 0px solid black;
  border-style: solid;
  border-color: black;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 0em;
  color: black;
  font-size: 10pt;
  font-weight: normal;
  background: white;
}

div.secondgen {
  padding-top: 1em;
  padding-bottom: 0em;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-right: 1px solid black;
  border-left: 0px solid black;
  border-style: solid;
  border-color: black;
}
.secondgen ol {
  list-style-type: upper-roman;
}

.secondgen li {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-right: 0em;
  padding-left: 0em;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-right: 0px solid black;
  border-left: 0px solid black;
  color: black;
  font-size: 10pt;
  font-weight: normal;
  background: white;
}

div.thirdgen {
  padding-top: 0em; /*--Distance between the border and the letters --*/
  padding-bottom: 0em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 0px solid black;
  border-left: 0px solid black;
  border-style: solid;
  border-color: black;
}

.thirdgen ol {
  list-style-type: decimal;
}

.thirdgen li {
  margin-top: 0em; /* Distance outside the border */
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-right: 0em; /*--Distance between the border and the letters --*/
  padding-left: 0em;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-right: 0px solid black;
  border-left: 0px solid black;
  color: black;
  font-size: 12pt;
  font-weight: normal;
  background: white;
}

div.memorygen {
  padding-top: 0em; /*--Distance between the border and the letters --*/
  padding-bottom: 0em;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-right: 0px solid black;
  border-left: 0px solid black;
  border-style: solid;
  border-color: black;
}

.memorygen ol {
  list-style-type: decimal;
}

.memorygen li {
  margin-top: 0em; /* Distance outside the border */
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 0em;
  padding-top: 0em; /*--Distance between the border and the letters --*/
  padding-bottom: 1px;
  padding-right: 0em;
  padding-left: 0em;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-right: 0px solid black;
  border-left: 0px solid black;
  color: black;
  font-size: 10pt;
  font-weight: normal;
  background: white;
}

div.sections {
  font-family: Garamond, Helvetica, sans-serif;
  font-size: 12pt;
  background: white;
  color: black;
  text-align: center;
}

.home {
  font-size: 12pt;
  font-style: italic;
  margin-left: 0%;
  padding-bottom: 2em;
}

.topancestor {
  font-size: 12pt;
  font-family: georgia, palatino, times news roman, serif;
  margin-left: 0%;
}

.topancestorevents {
  font-size: 10pt;
  font-style: normal;
  font-family: verdana, helvetica, arial, sans-serif;
}

.topspouse {
  font-size: 12pt;
  font-family: georgia, palatino, times news roman, serif;
  color: black;
  margin-left: 0%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.topspouseevents {
  font-size: 10pt;
  font-style: normal;
  font-family: verdana, helvetica, arial, sans-serif;
  padding-left: 2em;
}

.spouseevents {
  padding-left: 2em;
  font-size: 10pt;
  padding-top: 1em;
  padding-bottom: 1em;
}

p.event {
  padding-left: 22px;
  text-indent: -22px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border: 0;
  margin: 0;
}

.eventdate {
  font-style: normal;
  font-weight: bold;
}

.gro {
  font-style: italic;
  font-size: 10pt;
}

.gro-spouse {
  font-style: italic;
  font-size: 9pt;
}

.note {
  font-style: italic;
  font-size: 10pt;
}

.note-spouse {
  font-style: italic;
  font-size: 9pt;
}

.headline1 {
  font-family: georgia, palatino, times news roman, serif;
  font-size: 14pt;
  text-align: center;
}

.headline2 {
  font-family: georgia, palatino, times news roman, serif;
  font-size: 14pt;
  text-align: center;
}

.source {
  font-size: 10pt;
  font-style: italic;
}

.callme {
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
  border: 1px solid black;
  background: white;
  padding: 1em;
}

.box {
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  border: 1px solid black;
  background: #fffaf0;
  padding: 1em;
}

.box2 {
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  border: 1px solid black;
  background: white;
  padding: 1em;
}

address {
  font-size: 10pt;
  font-style: italic;
}

img.floatLeft {
  float: none;
  margin: 4px;
}
img.floatRight {
  float: none;
  margin: 4px;
}
img.floatRightClear {
  float: right;
  clear: right;
  margin: 4px;
}
img.nofloat {
  float: none;
  margin: 4px;
}

table.census {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  width: 95%;
  background-color: #fafafa;
  border: 1px #6699cc solid;
  border-collapse: collapse;
  border-spacing: 0px;
}

td.censusHead {
  border-bottom: 2px solid #6699cc;
  border-left: 1px solid #6699cc;
  background-color: #bec8d1;
  text-align: left;
  text-indent: 5px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  color: #404040;
}

td.censusColumns {
  border-bottom: 2px solid #6699cc;
  border-left: 1px solid #6699cc;
  background-color: #bec8d1;
  text-align: center;
  text-indent: 5px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  color: #404040;
}

td.censusBody {
  border-bottom: 1px solid #9cf;
  border-top: 0px;
  border-left: 1px solid #9cf;
  border-right: 0px;
  text-align: left;
  text-indent: 10px;
  font-family: Verdana, sans-serif, Arial;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  background-color: #fafafa;
}

td.censusHighlight {
  background-color: #ffe6cc;
}

table.birth {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  width: 95%;
  background-color: #ffffcc;
  border: 1px #666633 solid;
  border-collapse: collapse;
  border-spacing: 0px;
}

td.birthHead {
  border-bottom: 2px solid #666633;
  border-left: 1px solid #666633;
  background-color: #ffffcc;
  text-align: left;
  text-indent: 5px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  color: #404040;
}

td.birthColumns {
  border-bottom: 2px solid #666633;
  border-left: 1px solid #666633;
  background-color: #ffffcc;
  text-align: center;
  text-indent: 5px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  color: #404040;
}

td.birthBody {
  border-bottom: 1px solid #9cf;
  border-top: 0px;
  border-left: 1px solid #9cf;
  border-right: 0px;
  text-align: left;
  text-indent: 10px;
  font-family: Verdana, sans-serif, Arial;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  background-color: #ffffcc;
}

table.marriage {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  width: 95%;
  background-color: #ebffce;
  border: 1px #666633 solid;
  border-collapse: collapse;
  border-spacing: 0px;
}

td.marriageHead {
  border-bottom: 2px solid #666633;
  border-left: 1px solid #666633;
  background-color: #ebffce;
  text-align: left;
  text-indent: 5px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  color: #404040;
}

td.marriageColumns {
  border-bottom: 2px solid #666633;
  border-left: 1px solid #666633;
  background-color: #ebffce;
  text-align: center;
  text-indent: 5px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  color: #404040;
}

td.marriageBody {
  border-bottom: 1px solid #9cf;
  border-top: 0px;
  border-left: 1px solid #9cf;
  border-right: 0px;
  text-align: left;
  text-indent: 10px;
  font-family: Verdana, sans-serif, Arial;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  background-color: #ebffce;
}

table.death {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  width: 95%;
  background-color: #fff5ce;
  border: 1px #666633 solid;
  border-collapse: collapse;
  border-spacing: 0px;
}

td.deathHead {
  border-bottom: 2px solid #666633;
  border-left: 1px solid #666633;
  background-color: #fff5ce;
  text-align: left;
  text-indent: 5px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  color: #404040;
}

td.deathColumns {
  border-bottom: 2px solid #666633;
  border-left: 1px solid #666633;
  background-color: #fff5ce;
  text-align: center;
  text-indent: 5px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  color: #404040;
}

td.deathBody {
  border-bottom: 1px solid #9cf;
  border-top: 0px;
  border-left: 1px solid #9cf;
  border-right: 0px;
  text-align: left;
  text-indent: 10px;
  font-family: Verdana, sans-serif, Arial;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  background-color: #fff5ce;
}

table.ship {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  width: 100%;
  background-color: #e3f4fe;
  border: 1px #6699cc solid;
  border-collapse: collapse;
  border-spacing: 0px;
}

td.shipHead {
  border-bottom: 2px solid #6699cc;
  border-left: 1px solid #6699cc;
  background-color: #89d2fd;
  text-align: left;
  text-indent: 5px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  color: #404040;
}

td.shipColumns {
  border-bottom: 2px solid #6699cc;
  border-left: 1px solid #6699cc;
  background-color: #ccebfd;
  text-align: center;
  text-indent: 5px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
  color: #404040;
}

td.shipBody {
  border-bottom: 1px solid #9cf;
  border-top: 0px;
  border-left: 1px solid #9cf;
  border-right: 0px;
  text-align: left;
  text-indent: 10px;
  font-family: Verdana, sans-serif, Arial;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  background-color: #fafafa;
}

td.shipHighlight {
  background-color: #ffe6cc;
}
